body,
html {
    width: 100%;
    height: 100%;
    margin: 0
}

input,
textarea {
    margin-bottom: 0;
    box-shadow: none;
    box-sizing: border-box
}

input[disabled],
// input[readonly],
select[disabled],
select[readonly],
textarea[disabled],
textarea[readonly] {
    background: 0 0;
    cursor: default
}

p {
    margin-bottom: 0
}

ol,
ul {
    list-style: none;
    margin-bottom: 0;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #333
}

a:hover {
    color: #333;
    text-decoration: none
}

a:link {
    text-decoration: none
}

i {
    font-style: normal
}

.f_left {
    float: left
}

label {
    margin-bottom: 0
}

.f_right {
    float: right
}

.clearfix::after,
.clearfix::before {
    content: ".";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both
}

button,
input,
select,
textarea {
    outline: 0;
    resize: none;
    box-shadow: none!important
}

.uneditable-input,
input[type=email],
input[type=url],
input[type=search],
input[type=tel],
input[type=color],
input[type=text],
input[type=password],
input[type=datetime],
input[type=datetime-local],
input[type=date],
input[type=month],
input[type=time],
input[type=week],
input[type=number],
select,
textarea {
    margin-bottom: 0!important
}

button {
    border: none!important;
    background: 0 0!important
}

body {
    background: #fff;
}

@mixin font($size, $color) {
    font-size: $size;
    color: $color;
}

@mixin btn($w, $h, $bg:#ff7669) {
    width: $w;
    height: $h;
    line-height: $h;
    text-align: center;
    background-color: $bg;
    cursor: pointer;
}


[v-cloak] {
    display: none;
}

#app {
    width: 1280px;
    padding: 20px;
    background: #fafafa;
    margin: 0 auto;
    margin-top: 20px;
    &,
    * {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box; // will-change:unset !important;
    }
    .banner {
        position: relative;
        width: 100%;
        height: 290px;
        img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }
        &>h1 {
            @include font(36px, #ffffff);
            text-align: center;
            position: relative;
            z-index: 2;
            line-height: 46px;
            padding-top: 75px;
            font-weight: normal;
        }
        .school {
            position: relative;
            z-index: 2;
            @include font(14px, #fff);
            line-height: 46px;
            text-align: center;
            span:last-child {
                margin-left: 15px;
            }
        }
        .banner-btn {
            position: relative;
            z-index: 2;
            width: 502px;
            margin: 0 auto;
            margin-top: 4px;
            div {
                display: inline-block;
                width: 154px;
                height: 36px;
                line-height: 36px;
                text-align: center;
                border: 1px solid #fff;
                @include font(14px, #fff);
                cursor: pointer;
                border-radius: 4px;
                margin-left: 16px;
                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }

    .main {
        margin-top: 20px;
        .main-left {
            float: left;
            width: 260px;
            .main-nav {
                background: #fff;
                padding: 0 20px;
                li {
                    @include font(16px, #666666);
                    line-height: 26px;
                    text-align: center;
                    padding: 13px 0 12px;
                    border-bottom: 1px solid #e9e9e9;
                    cursor: pointer;
                    &:last-child {
                        border: 0
                    }
                    &.cur {
                        color: #815dc7;
                    }
                }
            }
            .sibmit {
                margin-top: 20px;
                @include btn(100%, 40px, #815dc7);
                @include font(14px, #fff);
                border-radius: 4px;
            }
        }

        .main-right {
            float: right;
            width: 960px;
            &>div {
                width: 100%;
                background: #fff;
            }

            .major-introduce {
                padding: 0 22px 20px 40px;
                &>h1 {
                    @include font(16px, #333);
                    line-height: 26px;
                    padding-top: 21px;
                    font-weight: normal;
                }

                .ts {
                    margin-top: 25px;
                    background: #f9f9f9;
                    position: relative;
                    padding: 16px 14px;
                    @include font(12px, #ff0000);
                    line-height: 24px;
                    i {
                        @include font(16px, #d2d2d2);
                        position: absolute;
                        top: 12px;
                        right: 20px;
                        cursor: pointer;
                    }
                }

                .major-cover {
                    margin-top: 20px;
                    &>span {
                        width: 65px;
                        text-align:right;
                        @include font(12px, #666666);
                        line-height: 26px;
                        span {
                            color: #ff0000;
                        }
                    }
                    .zy {
                        @include font(12px,#999999);
                        line-height: 24px;
                        margin-left:20px;
                        margin-top:75px;
                    }
                    &>div {
                        margin-left:5px;
                    }
                    .up-div {
                        width: 290px;
                        height: 190px;
                        background: #f4f4f4;
                        border-radius: 4px;
                        position: relative;
                        .up-box {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            z-index: 3;
                            border-radius: 4px;
                            border: 0 !important;
                            top: 0;
                            left: 0;
                            input {
                                width: 100%;
                                height: 100%;
                                opacity: 0;
                                filter: alpha(opacity=0);
                                cursor: pointer;
                                border: 0 !important;
                                border-radius: 4px;
                            }
                        }
                        .first-show {
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            z-index: 2;
                            text-align: center;
                            overflow: hidden;
                            img {
                                width: 36px;
                                height: 36px;
                                margin-top: 60px;
                            }
                            p {
                                @include font(16px, #c5c5c5);
                                line-height: 20px;
                                margin-top: 16px;
                            }
                        }
                        .up-loading {
                            width: 100%;
                            height: 100%;
                            text-align:center;
                            overflow: hidden;
                            line-height: 190px;
                        }
                        .img-box {
                            width: 100%;
                            height: 100%;
                            border-radius: 4px;
                            overflow: hidden;
                            position: relative;
                            z-index: 2;
                            img {
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                z-index: 2;
                            }
                        }
                    }

                    .ed {
                        width: 810px;
                        height: 278px;
                        border: 1px solid #e9e9e9;
                    }
                }
            }
        }
    }
}