body,
html {
    width: 100%;
    height: 100%;
    margin: 0
}

input,
textarea {
    margin-bottom: 0;
    box-shadow: none;
    box-sizing: border-box
}

input[disabled],
input[readonly],
select[disabled],
select[readonly],
textarea[disabled],
textarea[readonly] {
    background: 0 0;
    cursor: default
}

p {
    margin-bottom: 0
}

ol,
ul {
    list-style: none;
    margin-bottom: 0;
    padding: 0
}

a {
    text-decoration: none;
    color: #333
}

a:hover {
    color: #333;
    text-decoration: none
}

a:link {
    text-decoration: none
}

i {
    font-style: normal
}

.f_left {
    float: left
}

label {
    margin-bottom: 0
}

.f_right {
    float: right
}

.clearfix::after {
    display: block;
    content: '';
    clear: both;
    height: 0;
}

button,
input,
select,
textarea {
    outline: 0;
    resize: none;
    box-shadow: none!important
}

.uneditable-input,
input[type=email],
input[type=url],
input[type=search],
input[type=tel],
input[type=color],
input[type=text],
input[type=password],
input[type=datetime],
input[type=datetime-local],
input[type=date],
input[type=month],
input[type=time],
input[type=week],
input[type=number],
select,
textarea {
    margin-bottom: 0!important
}

button {
    border: none!important;
    background: 0 0!important
}

body {
    background: #fff
}

@mixin font($size, $color) {
    font-size: $size;
    color: $color;
}

@mixin btn($w, $h, $bg:#ff7669) {
    width: $w;
    height: $h;
    line-height: $h;
    text-align: center;
    background-color: $bg;
    cursor: pointer;
}

[v-cloak] {
    display: none;
}

.ivu-input-wrapper {
    height: 30px;
}

.ivu-input-icon-normal+.ivu-input {
    height: 30px;
}

.ivu-input-icon {
    height: 30px;
    line-height: 30px;
}

.ivu-select-single .ivu-select-selection {
    height: 30px
}

#app {
    * {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box; // will-change:unset !important;
    }
}

.head {
    padding: 27px 0 30px 20px;
    @include font(28px, #3c3c3c);
    background: #ffffff;
    border-bottom: 1px solid #d1d1d1;
    position: relative;
    .back {
        @include font(14px, #3c3c3c);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
    }
}

.save-con {
    &>div {
        display: flex;
        align-items: center;
        margin-top: 20px;
        &.text {
            align-items:normal;
        }
        .tit {
            font-size: 14px;
            color: #3c3c3c;
            text-align: right;
            margin-right: 4px;
            width: 100px;
        }
        &>input {
            width: 220px;
            height: 30px;
            font-size: 12px;
            float: left;
            padding-left: 10px;
            border: 1px solid #d1d1d1;
        }
        .zh {
            margin: 0 10px;
        }
        &>textarea {
            width: 550px;
            height: 150px;
            border: 1px solid #d1d1d1;
            padding: 10px 5px;
            float: left;
            font-size: 14px;
        }
    }
}