body,
html {
    width: 100%;
    height: 100%;
    margin: 0
}

input,
textarea {
    margin-bottom: 0;
    box-shadow: none;
    box-sizing: border-box
}

input[disabled],
input[readonly],
select[disabled],
select[readonly],
textarea[disabled],
textarea[readonly] {
    background: 0 0;
    cursor: default
}

p {
    margin-bottom: 0
}

ol,
ul {
    list-style: none;
    margin-bottom: 0;
    padding: 0
}

a {
    text-decoration: none;
    color: #333
}

a:hover {
    color: #333;
    text-decoration: none
}

a:link {
    text-decoration: none
}

i {
    font-style: normal
}

.f_left {
    float: left
}

label {
    margin-bottom: 0
}

.f_right {
    float: right
}

.clearfix::after,
.clearfix::before {
    content: ".";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both
}

button,
input,
select,
textarea {
    outline: 0;
    resize: none;
    box-shadow: none!important
}

.uneditable-input,
input[type=email],
input[type=url],
input[type=search],
input[type=tel],
input[type=color],
input[type=text],
input[type=password],
input[type=datetime],
input[type=datetime-local],
input[type=date],
input[type=month],
input[type=time],
input[type=week],
input[type=number],
select,
textarea {
    margin-bottom: 0!important
}

button {
    border: none!important;
    background: 0 0!important
}

body {
    background: #f8f8f8
}

@mixin font($size, $color) {
    font-size: $size;
    color: $color;
}

@mixin btn($w, $h, $bg:#ff7669) {
    width: $w;
    height: $h;
    line-height: $h;
    text-align: center;
    background-color: $bg;
    cursor: pointer;
}

[v-cloak] {
    display: none;
}

#app {
    width: 1170px;
    margin: 0 auto;
    * {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box; // will-change:unset !important;
    }
}

.head {
    padding: 27px 0 30px 20px;
    @include font(28px, #3c3c3c);
    background: #ffffff;
    border-bottom: 1px solid #d1d1d1;
    position: relative;
    .back {
        @include font(14px, #3c3c3c);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
    }
}

.serch-content {
    margin-top: 20px;
    border-top: 1px solid #e0e0e0;
    padding: 0 20px 40px;
    background: #fff;

    .list-box {
        margin-top: 20px;
        padding: 0 20px;
        border: 1px solid #d0d0d0;
        &.h50 {
            height: 50px;
            overflow: hidden;
        }
        .list-title {
            overflow: hidden;
            height: 51px;
            line-height: 50px;
            &.bb {
                border-bottom: 1px solid #d0d0d0;
            }
            &>span {
                @include font(14px, #3c3c3c);
            }
            &>i {
                float: right;
                @include font(14px, #3c3c3c);
                cursor: pointer;
                font-weight: bold;
                &.r90 {
                    transform: rotate(90deg)
                }
            }
        }
    }

    .list-bottom {
        padding-left: 20px;
        .list {
            border-bottom: 1px solid #d0d0d0;
            height: 51px;
            &>div {
                padding: 15px 0 17px;
                display: flex;
                align-items: center;
                line-height: 20px;
            }
            &:last-child {
                border-bottom: 0;
            }
            p {
                @include font(14px, #3c3c3c);
                margin: 0 10px 0 0;
                max-width: 225px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            span {
                @include font(14px, #3c3c3c);
            }
            a {
                @include font(14px, #0478d2) text-align: right;
            }
        }
    }
}

#add-remark {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    z-index: 1000;
    .layer {
        width: 468px;
        background: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        border: 1px solid #d0d0d0;
        .layer-top {
            height: 30px;
            line-height: 30px;
            background: #0478d2;
            span {
                @include font(14px, #fff);
                margin-left: 20px;
                float: left;
            }
            i {
                @include font(16px, #fff);
                float: right;
                cursor: pointer;
                margin-right: 10px;
                line-height: 30px;
                font-weight: bold;
            }
        }
        .txt-box {
            padding: 20px;
            background: #fff;
            textarea {
                width: 100%;
                height: 161px;
                border: 1px solid #d0d0d0;
                padding: 5px;
                font-size: 12px;
            }
            .add-remark-btn {
                @include btn(72px, 30px, #f5f5f5);
                @include font(14px, #3c3c3c);
                margin: 20px auto 0;
                border: 1px solid #d0d0d0;
            }
        }
    }
}