body,
html {
    width: 100%;
    height: 100%;
    margin: 0
}

input,
textarea {
    margin-bottom: 0;
    box-shadow: none;
    box-sizing: border-box
}

input[disabled],
input[readonly],
select[disabled],
select[readonly],
textarea[disabled],
textarea[readonly] {
    background: 0 0;
    cursor: default
}

p {
    margin-bottom: 0
}

ol,
ul {
    list-style: none;
    margin-bottom: 0;
    padding: 0
}

a {
    text-decoration: none;
    color: #333
}

a:hover {
    color: #333;
    text-decoration: none
}

a:link {
    text-decoration: none
}

i {
    font-style: normal
}

.f_left {
    float: left
}

label {
    margin-bottom: 0
}

.f_right {
    float: right
}

.clearfix::after,
.clearfix::before {
    content: ".";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both
}

button,
input,
select,
textarea {
    outline: 0;
    resize: none;
    box-shadow: none!important
}

.uneditable-input,
input[type=email],
input[type=url],
input[type=search],
input[type=tel],
input[type=color],
input[type=text],
input[type=password],
input[type=datetime],
input[type=datetime-local],
input[type=date],
input[type=month],
input[type=time],
input[type=week],
input[type=number],
select,
textarea {
    margin-bottom: 0!important
}

button {
    border: none!important;
    background: 0 0!important
}

body {
    background: #f8f8f8
}

@mixin font($size, $color) {
    font-size: $size;
    color: $color;
}

@mixin btn($w, $h, $bg:#ff7669) {
    width: $w;
    height: $h;
    line-height: $h;
    text-align: center;
    background-color: $bg;
    cursor: pointer;
}

body {
    background: #f8f8f8
}

[v-cloak] {
    display: none;
}

.main {
    margin-top: 20px;
    width: 100%;
    background: #fff;
    padding-top: 60px;
    padding-bottom: 50px;
}

.main-content {
    width: 1000px;
    border: 1px solid #e9e9e9;
    margin: 0 auto;
    padding-bottom: 35px;
    .info-top {
        border-bottom: 1px solid #e9e9e9;
        .info-top-name {
            padding-top: 20px;
            position: relative;
            img {
                width: 62px;
                height: 62px;
                border-radius: 31px;
                margin-left: 30px;
                vertical-align: middle;
            }
            .name {
                @include font(18px, #333333);
                margin-left: 20px;
                line-height: 28px;
                display: inline-block;
            }
            .status {
                @include font(16px, #32a427);
                position: absolute;
                top: 24px;
                right: 33px;
            }
        }
        .info-top-ul {
            margin: 20px 43px 52px 114px;
            li {
                float: left;
                div {
                    @include font(12px, #666666);
                    line-height: 28px;
                }
                &:first-child {
                    padding-right: 56px;
                }
                &:nth-child(2) {
                    padding: 0 114px 0 55px;
                    border-left: 1px solid #e9e9e9;
                    border-right: 1px solid #e9e9e9;
                }
                &:last-child {
                    padding-left: 46px;
                }
            }
        }
    }

    .info-bottom {
        padding: 0 20px;
        .bottom-btn {
            .jiaofei {
                margin-top: 17px;
                margin-left: 27px;
                @include font(12px, #666);
                cursor: pointer;
                &.cur {
                    color: #815dc7;
                }
            }
            .xuexi {
                margin-left: 20px;
                margin-top: 17px;
                @include font(12px, #666);
                border-left: 1px solid #e9e9e9;
                padding-left: 20px;
                cursor: pointer;
                &.cur {
                    color: #815dc7;
                }
            }
            .baoming {
                @include btn(70px, 24px, #fff);
                border: 1px solid #815dc7;
                border-radius: 4px;
                @include font(12px, #815dc7);
                margin-top: 12px;
            }
        }

        .bottom-content {
            margin-top: 10px;
        }
    }
}

.payment-box {
    .payment-list {
        .list-box {
            .payment-ul {
                padding: 14px 0 15px;
                border-bottom: 1px solid #e9e9e9;
                li {
                    float: left;
                    @include font(12px, #666666);
                }
                .payment-li1 {
                    padding-left: 27px;
                    width: 27.2%;
                }
                .payment-li2 {
                    width: 30.3%;
                }
                .payment-li3 {
                    width: 20%;
                }
                .payment-li4 {
                    width: 22.5%;
                    a {
                        color: #815dc7;
                        &:first-child {
                            margin-left: 38px;
                        }
                    }
                }
            }
        }
        .fy {
            margin-top: 20px;
            &>.f_left {
                font-size: 12px;
                color: #666;
                margin-left: 20px;
                margin-top: 3px
            }
        }
    }
    .empty {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 118px;
        p {
            font-size: 12px;
            color: #666;
            margin-top: 5px
        }
    }
}

.learn-box {
    .learn-list-box {
        .learn-ul {
            padding: 14px 0 15px;
            border-bottom: 1px solid #e9e9e9;
            li {
                float: left;
                @include font(12px, #666666);
                width: 33.33%;
            }
            .learn-li1 {
                padding-left: 27px;
            }
            .learn-li2 {
                text-align: center;
            }
            .learn-li3 {
                text-align: center;
                a {
                    color: #815dc7;
                }
            }
        }
        .fy {
            margin-top: 20px;
            &>.f_left {
                font-size: 12px;
                color: #666;
                margin-left: 20px;
                margin-top: 3px
            }
        }
    }
    .empty {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 118px;
        p {
            font-size: 12px;
            color: #666;
            margin-top: 5px
        }
    }
}


#confirm {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .7);
    .layer {
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 63px 47px 25px;
        background: #fff;
        transform: translateX(-50%) translateY(-50%);
        border-radius: 4px;

        i {
            position: absolute;
            top: 20px;
            right: 20px;
            @include font(18px, #666);
            cursor: pointer;
        }
        &>p {
            @include font(12px, #666666);
            text-align: center;
        }
        .confirm-btn {
            margin-top: 20px;
            .cancel {
                @include btn(80px, 24px, #cccccc);
                @include font(12px, #fff);
                margin-right: 20px;
                border-radius: 4px;
            }
            .true {
                @include btn(80px, 24px, #ccc);
                @include font(12px, #fff);
                border-radius: 4px;
                &.yes {
                    background: #815dc7;
                }
            }
        }
    }
}

#records {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .7);
    .layer {
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 28px 28px 23px;
        width: 453px;
        background: #fff;
        transform: translateX(-50%) translateY(-50%);
        border-radius: 4px;
        i {
            position: absolute;
            top: 20px;
            right: 20px;
            @include font(18px, #666);
            cursor: pointer;
        }
        &>p {
            @include font(14px, #333333);
        }
        .records-content {
            margin-top: 20px;
            max-height: 250px;
            overflow-y: auto;
            .records-list {
                padding: 14px 0;
                border-bottom: 1px solid #e9e9e9;
                &>p {
                    @include font(12px, #666666);
                    line-height: 24px;
                }
                &>span {
                    @include font(12px, #999999);
                    display: block;
                    line-height: 24px;
                }
            }
        }
        .records-btn {
            @include btn(60px, 24px, #fff);
            @include font(12px, #815dc7);
            border: 1px solid #815dc7;
            border-radius: 4px;
            margin: 20px auto 0;
        }
    }
}

#change {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .7);
    .layer {
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 16px 20px 20px;
        background: #fff;
        transform: translateX(-50%) translateY(-50%);
        border-radius: 4px;
        &>i {
            position: absolute;
            top: 18px;
            right: 20px;
            @include font(18px, #666);
            cursor: pointer;
        }
        .selec {
            &>span {
                height: 28px;
                line-height: 28px;
                @include font(12px, #666666);
            }
        }
        .txt {
            margin-top: 20px;
            position: relative;
            textarea {
                width: 413px;
                height: 108px;
                border: 1px solid #e9e9e9;
                border-radius: 4px;
                text-indent: 1em;
                padding: 5px 10px 20px;
                font-size: 12px;
            }
            .word-num {
                position: absolute;
                bottom: 0;
                right: 10px;
                transform: translateY(-50%);
                @include font(12px, #cccccc);
            }
        }
        &>p {
            margin-top: 20px;
            @include font(12px, #999999);
            text-align: center;
            line-height: 20px;
        }
        .change-btn {
            width: 166px;
            margin: 5px auto 0;
            &>.f_left {
                @include btn(70px, 24px, #ccc);
                @include font(12px, #fff) border-radius: 4px;
            }
            &>.f_right {
                @include btn(70px, 24px, #815dc7);
                @include font(12px, #fff) border-radius: 4px;
            }
        }
    }
}




/* 下拉样式修改 */

.ivu-select-single .ivu-select-selection {
    height: 28px;
    line-height: 28px;
}

.ivu-select-single .ivu-select-selection .ivu-select-placeholder,
.ivu-select-single .ivu-select-selection .ivu-select-selected-value {
    height: 28px;
    line-height: 28px;
}


.ivu-select-dropdown {
    will-change: unset!important
}




/* 分页样式修改 */

.ivu-page {
    text-align: right
}

.ivu-page-item {
    min-width: 25px;
    height: 25px;
    line-height: 25px
}

.ivu-page-item-jump-next,
.ivu-page-item-jump-prev,
.ivu-page-next,
.ivu-page-prev {
    min-width: 25px;
    height: 25px;
    line-height: 25px
}

.ivu-page-options-elevator input {
    height: 25px;
    padding: 0 5px
}

.ivu-page-options-elevator {
    height: 25px;
    line-height: 25px
}

.ivu-page-item-active {
    background-color: transparent;
    border-color: #2d8cf0
}

.ivu-page-item-active a,
.ivu-page-item-active:hover a {
    color: #815dc7
}