body,
html {
    width: 100%;
    height: 100%;
    margin: 0
}

input,
textarea {
    margin-bottom: 0;
    box-shadow: none;
    box-sizing: border-box
}

input[disabled],
input[readonly],
select[disabled],
select[readonly],
textarea[disabled],
textarea[readonly] {
    background: 0 0;
    cursor: default
}

p {
    margin-bottom: 0
}

ol,
ul {
    list-style: none;
    margin-bottom: 0;
    padding: 0
}

a {
    text-decoration: none;
    color: #333
}

a:hover {
    color: #333;
    text-decoration: none
}

a:link {
    text-decoration: none
}

i {
    font-style: normal
}

.f_left {
    float: left
}

label {
    margin-bottom: 0
}

.f_right {
    float: right
}

.clearfix::after,
.clearfix::before {
    content: ".";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both
}

button,
input,
select,
textarea {
    outline: 0;
    resize: none;
    box-shadow: none!important
}

.uneditable-input,
input[type=email],
input[type=url],
input[type=search],
input[type=tel],
input[type=color],
input[type=text],
input[type=password],
input[type=datetime],
input[type=datetime-local],
input[type=date],
input[type=month],
input[type=time],
input[type=week],
input[type=number],
select,
textarea {
    margin-bottom: 0!important
}

button {
    border: none!important;
    background: 0 0!important
}

body {
    background: #f8f8f8
}

@mixin font($size, $color) {
    font-size: $size;
    color: $color;
}

@mixin btn($w, $h, $bg:#ff7669) {
    width: $w;
    height: $h;
    line-height: $h;
    text-align: center;
    background-color: $bg;
    cursor: pointer;
}

[v-cloak] {
    display: none;
}

#app {
    width: 1170px;
    margin: 0 auto;
    * {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box; // will-change:unset !important;
    }
}

.head {
    padding: 27px 0 30px 20px;
    @include font(28px, #3c3c3c);
    background: #ffffff;
    border-bottom: 1px solid #d1d1d1;
    position: relative;
    .back {
        @include font(14px, #3c3c3c);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
    }
<<<<<<< HEAD
}

.statistical-content {
    padding: 20px;
    background: #fff;
    border-top: 1px solid #d1d1d1;
    margin-top: 20px;
    .echart-box {
        height: 280px;
    }

    .statistical-list-box {
        margin-top: 20px;
        border: 1px solid #d0d0d0;

        .statistical-nav {
            padding: 8px 0 7px;
            li {
                display: flex;
                align-items: center;
                float: left;
                @include font(12px, #3c3c3c);
                line-height: 20px;
            }
            .li1 {
                width: 6.1%;
                padding-left: 1%
            }
            ;
            .li2 {
                width: 10.1%;
                padding-left: 1%
            }
            ;
            .li3 {
                width: 10.8%;
                padding-left: 1%
            }
            ;
            .li4 {
                width: 6.6%;
                padding-left: 1%
            }
            ;
            .li5 {
                width: 15%;
                padding-left: 1%
            }
            ;
            .li6 {
                width: 14.1%;
                padding-left: 1%
            }
            ;
            .li7 {
                width: 14.6%;
                padding-left: 1%
            }
            ;
            .li8 {
                width: 14.8%;
                padding-left: 1%
            }
            ;
            .li9 {
                width: 7.2%;
                padding-left: 1%
            }
            ;
        }

        .statistical-list {
            @extend .statistical-nav;
            &:nth-child(2n+1) {
                background: #f5f5f5;
            }
        }
    }
    .fy {
        &>span {
            @include font(14px, #999999);
        }
        text-align: center;
        margin-top: 18px;
    }
}

/* 分页样式修改 */

.ivu-page {
    // text-align: right
}

.ivu-page-item {
    min-width: 25px;
    height: 25px;
    line-height: 25px
}

.ivu-page-item-jump-next,
.ivu-page-item-jump-prev,
.ivu-page-next,
.ivu-page-prev {
    min-width: 25px;
    height: 25px;
    line-height: 25px
}

.ivu-page-options-elevator input {
    height: 25px;
    padding: 0 5px
}

.ivu-page-options-elevator {
    height: 25px;
    line-height: 25px
}

.ivu-page-item-active {
    background-color: transparent;
    border-color: #2d8cf0
}

.ivu-page-item-active a,
.ivu-page-item-active:hover a {
    color: #2d8cf0
=======
>>>>>>> 363be2b6b65d97f478951b2937848bb4e7723107
}