body,
html {
    width: 100%;
    height: 100%;
    margin: 0
}

input,
textarea {
    margin-bottom: 0;
    box-shadow: none;
    box-sizing: border-box
}

input[disabled],
input[readonly],
select[disabled],
select[readonly],
textarea[disabled],
textarea[readonly] {
    background: 0 0;
    cursor: default
}

p {
    margin-bottom: 0
}

ol,
ul {
    list-style: none;
    margin-bottom: 0;
    padding: 0
}

a {
    text-decoration: none;
    color: #333
}

a:hover {
    color: #333;
    text-decoration: none
}

a:link {
    text-decoration: none
}

i {
    font-style: normal
}

.f_left {
    float: left
}

label {
    margin-bottom: 0
}

.f_right {
    float: right
}

.clearfix::after,
.clearfix::before {
    content: ".";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both
}

button,
input,
select,
textarea {
    outline: 0;
    resize: none;
    box-shadow: none!important
}

.uneditable-input,
input[type=email],
input[type=url],
input[type=search],
input[type=tel],
input[type=color],
input[type=text],
input[type=password],
input[type=datetime],
input[type=datetime-local],
input[type=date],
input[type=month],
input[type=time],
input[type=week],
input[type=number],
select,
textarea {
    margin-bottom: 0!important
}

button {
    border: none!important;
    background: 0 0!important
}

body {
    background: #f8f8f8
}

@mixin font($size, $color) {
    font-size: $size;
    color: $color;
}

@mixin btn($w, $h, $bg:#ff7669) {
    width: $w;
    height: $h;
    line-height: $h;
    text-align: center;
    background-color: $bg;
    cursor: pointer;
}

body {
    background: #f8f8f8
}

[v-cloak] {
    display: none;
}

.main {
    * {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    width: 1090px;
    background: #fff;
    padding: 0 20px;
    margin: 0 auto;
    margin-top: 20px;
    padding-bottom: 20px;
    .major-title {
        @include font(16px, #333333);
        line-height: 20px;
        padding: 18px 0 16px;
        border-bottom: 1px solid #e9e9e9;
        span {
            @include font(12px, #999999);
        }
        a {
            @include font(12px, #999999);
            float: right;
        }
    }

    .sx-box {
        padding: 20px 0;
        .search-box {
            width: 233px;
            height: 30px;
            position: relative;
            input {
                width: 100%;
                height: 30px;
                border: 1px solid #e9e9e9;
                padding-left: 10px;
                padding-right: 28px;
                font-size: 12px;
                border-radius: 4px;
            }
            i {
                font-size: 18px;
                color: #815dc7;
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
                cursor: pointer;
                font-weight: bold;
            }
        }
    }

    .main-list {
        .ul-list {
            width: 100%;
            height: 30px;
            display: flex;
            align-items: center;
            background: #f4f4f4;
            li {
                float: left;
                @include font(12px, #666666);
                padding-left: 20px;
            }
            .li-1 {
                width: 11.9%;
            }
            .li-2 {
                width: 12.2%;
            }
            .li-3 {
                width: 14.6%;
            }
            .li-4 {
                width: 14.9%;
            }
            .li-5 {
                width: 21.2%;
            }
            .li-6 {
                padding-left: 0;
                width: 25%;
                text-align: center;
            }
        }
        .list-box {
            .ul-list {
                height: 51px;
                li {

                    height: 24px;
                    display: flex;
                    align-items: center;
                }
                border-bottom: 1px solid #e9e9e9;
                background-color: #fff;
                .li-6 {
                    padding-left: 0;
                    div {
                        display: inline-block;
                        cursor: pointer;
                        margin-left: 20px;
                        width: 70px;
                        height: 24px;
                        line-height: 24px;
                        font-size: 12px;
                        border-radius: 4px;
                        border: 1px solid #815dc7;
                        color: #815dc7;
                        &:first-child {
                            margin-left: 0;
                            background-color: #815dc7;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }

    .fy {
        margin-top: 20px;
        &>.f_left {
            @include font(12px, #666);
            margin-left: 20px;
            margin-top:3px;
        }
    }

    .empty {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 80px;
        p {
            font-size: 12px;
            color: #666;
            margin-top: 5px;
        }
    }
}

.ivu-page {
    text-align: right
}

.ivu-page-item {
    min-width: 25px;
    height: 25px;
    line-height: 25px
}

.ivu-page-item-jump-next,
.ivu-page-item-jump-prev,
.ivu-page-next,
.ivu-page-prev {
    min-width: 25px;
    height: 25px;
    line-height: 25px
}

.ivu-page-options-elevator input {
    height: 25px;
    padding: 0 5px
}

.ivu-page-options-elevator {
    height: 25px;
    line-height: 25px
}

.ivu-page-item-active {
    background-color: transparent;
    border-color: #2d8cf0
}

.ivu-page-item-active a,
.ivu-page-item-active:hover a {
    color: #815dc7
}

#bo-back {
    position: fixed;
    width:100%;
    height: 100%;
    top:0;
    left:0;
    .bg {
        width:100%;
        height:100%;
        background: rgba(0,0,0,.7)
    }
    .layer {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        padding:20px;
        border-radius:4px;
        background-color: #fff;
        .icon-close {
            position: absolute;
            top: 10px;
            right:20px;
            font-size: 20px;
            color: #cdcdcd;
            font-weight:bold;
            cursor: pointer;
        }
        &>span {
            display: block;
            @include font(12px,#666666);
        }
        textarea {
            width:380px;
            height: 138px;
            border:1px solid #e9e9e9;
            border-radius: 4px;
            margin-top:5px;
        }
        .bo-back-btn {
            margin: 0 auto;
            margin-top:20px;
            width: 220px;
            .f_left {
                @include btn(100px,28px,#815dc7);
                @include font(12px,#fff);
                border-radius: 4px;
            }
            .f_right {
                @include btn(100px,28px,#cccccc);
                @include font(12px,#fff);
                border-radius: 4px;
            }
        }
    }
}