<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>添加账户</title>
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_313597_z7iqhm7i5wc.css">
    <link rel="stylesheet" type="text/css" href="css/iview.css">
    <link rel="stylesheet" type="text/css" href="css/addzhanghu.css">
</head>

<body>
    <div id="app">
        <div class="add-head">合作账户管理>>>添加账户 <a href="javascript:;" class="back">&lt;&lt;返回</a></div>
        <div class="add-content">
            <p class="ts">请确认收到私募ETH后，再创建账户</p>
            <div class="add-main">
                <div class="list clearfix">
                    <span class="f_left">手机号：</span>
                    <input type="text">
                </div>
                <div class="list clearfix">
                    <span class="f_left">姓名：</span>
                    <input type="text">
                </div>
                <div class="list clearfix">
                    <span class="f_left">账户类型：</span>
                    <template>
                        <i-select style="width:220px;float:left" v-model="private" @on-change="privateChange">
                            <i-option v-for="item in typeList" :value="item.value">{{ item.label }}</i-option>
                        </i-select>
                    </template>
                </div>
                <div class="list clearfix">
                    <span class="f_left">私募方式：</span>
                    <template>
                        <i-select style="width:220px;float:left" v-model="private" @on-change="privateChange">
                            <i-option v-for="item in privateList" :value="item.value">{{ item.label }}</i-option>
                        </i-select>
                    </template>
                </div>
                <div class="list clearfix">
                    <span class="f_left">私募额度：</span>
                    <input type="text" v-model="lines">
                    <span class="unit" v-if="private==1">ETH</span>
                    <span class="unit" v-if="private==2">RMB</span>
                </div>
                <div class="list clearfix">
                    <span class="f_left">私募时ETH价格：</span>
                    <input type="text" :readonly="private==2?'readonly':false">
                    <span class="unit">RMB</span>
                </div>
                <div class="list clearfix">
                    <span class="f_left">私募比例：</span>
                    <span class="be-unit">1ETH/1RMB：</span>
                    <input type="text" class="la-input" v-model="proportion">
                    <span class="unit">COOC</span>
                </div>
                <div class="list clearfix">
                    <span class="f_left">私募数量：</span>
                    <input type="text" readonly v-model="amount">
                    <span class="unit">COOC</span>
                </div>
                <div class="list clearfix">
                    <span class="f_left">释放规则：</span>
                    <template>
                        <i-select style="width:220px;float:left">
                            <i-option v-for="item in rulesList" :value="item.value">{{ item.label }}</i-option>
                        </i-select>
                    </template>
                    <div class="set-btn">去设置</div>
                </div>
                <p class="inform">描述上边选择的释放规则XXXXXXXXXXX</p>
                <div class="add-btn">添加账户</div>
            </div>
        </div>
        <!-- 验证中 -->
        <div id="in-verification" v-cloak v-show="loadingShow">
        	<div class="layer">验证中，请稍等</div>
        </div>
        <!-- 验证成功 -->
        <div id="successful" v-cloak v-show="successfulShow">
        	<div class="layer">
        		<div class="layer-top">
        			<i class="iconfont icon-close"></i>
        		</div>
        		<div class="layer-content">
        			<p>验证成功，账户创建成功</p>
        			<div class="successful-btn clearfix" v-if="add">
        				<div>账户管理</div>
        				<div>继续创建</div>
        			</div>
        			<div class="editor-btn clearfix" v-if="!add">返回账户管理</div>
        		</div>
        	</div>
        </div>
    </div>
</body>
<script type="text/javascript" src="js/jq.js"></script>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript" src="js/iview.min.js"></script>
<script type="text/javascript">
var app = new Vue({
    el: '#app',
    data: {
        privateList: [{value:'1',label:'ETH'},{value:'2',label:'RMB'}],
        rulesList: [{value:'1',label:'ETH'},{value:'2',label:'RMB'}],
        typeList:[],
        private:'1',
        loadingShow:false,
        successfulShow:false,
        add:false,
        lines:'',
        proportion:'',
    },
    computed:{
    	amount() {
    		if (this.lines&&this.proportion) {
    			return parseInt(this.lines)*parseInt(this.proportion)
    		} else {
    			return '';
    		}
    	},
    },
    methods:{
    	privateChange(res) {
    		this.private = res;
    	},
    }
});
</script>

</html>