<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>账号管理</title>
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_313597_z7iqhm7i5wc.css">
    <link rel="stylesheet" type="text/css" href="css/iview.css">
    <link rel="stylesheet" type="text/css" href="css/zhanghuguanli.css">
</head>

<body>
    <div id="app">
        <div class="account-management-head">合作账户管理>>>账户管理</div>
        <div class="account-management-content">
            <div class="sx-box clearfix">
                <a href="/addzhanghu.html" target="_blank" class="add-account">添加账户</a>
                <template>
                    <i-select style="width:190px;margin-left:9px;" placeholder="空投状态">
                        <i-option v-for="item in ktList" :value="item.value">{{ item.label }}</i-option>
                    </i-select>
                    <i-select style="width:190px;margin-left:9px;" placeholder="释放状态">
                        <i-option v-for="item in sfList" :value="item.value">{{ item.label }}</i-option>
                    </i-select>
                    <i-select style="width:190px;margin-left:9px;" placeholder="释放规则">
                        <i-option v-for="item in gzList" :value="item.value">{{ item.label }}</i-option>
                    </i-select>
                </template>
                <div class="search">
                    <input type="text" placeholder="手机号/主网账号查询">
                    <i class="iconfont icon-search"></i>
                </div>
            </div>
            <div class="list-main">
                <ul class="nav-ul clearfix">
                    <li class="li1">序号</li>
                    <li class="li2">手机号</li>
                    <li class="li3">姓名</li>
                    <li class="li4">账户类型</li>
                    <li class="li5">EOS主网账号名</li>
                    <li class="li6">cooc余额</li>
                    <li class="li7">待空投数量</li>
                    <li class="li8">空投状态</li>
                    <li class="li9">释放状态</li>
                    <li class="li10">账户状态</li>
                    <li class="li11">释放规则</li>
                    <li class="li12">操作</li>
                </ul>
                <div class="list-box">
                    <ul class="list-ul clearfix" v-for="(it,key) in dataList">
                        <li class="li1">1</li>
                        <li class="li2">13600000000</li>
                        <li class="li3">张三</li>
                        <li class="li4">投资人</li>
                        <li class="li5">mikkle</li>
                        <li class="li6">12345678901</li>
                        <li class="li7">12345678901</li>
                        <li class="li8">待空投</li>
                        <li class="li9">已全部释放</li>
                        <li class="li10">正常</li>
                        <li class="li11">double2规则</li>
                        <li class="li12"><a href="javascript:;">详情</a></li>
                    </ul>
                </div>
            </div>
            <div class="fy">
                <template>
                    <Page :total="100" size="small"></Page>
                </template>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="js/jq.js"></script>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript" src="js/iview.min.js"></script>
<script type="text/javascript">
var app = new Vue({
    el: '#app',
    data: {
        ktList:[{value:'0',label:'待空投'},{value:'1',label:'空投中'},{value:'2',label:'空投完毕'}],
        sfList:[{value:'0',label:'待释放'},{value:'1',label:'释放中'},{value:'2',label:'已全部释放'}],
        gzList:[{value:'0',label:'3+1规则'},{value:'1',label:'double2规则'},{value:'2',label:'一步规则'}],
        dataList: ['1', '2', 3, 4]
    }
});
</script>

</html>